.box1{
    width: 500px;
    height: 500px;
    background:gray ;
    position: relative;
    left: 0;
}
.box2{
    width: 500px;
    height: 500px;
    background-color: pink;
    position: absolute;
    left: -100px;
    top: 100px;
}
.box3{
    background-color: orange;
    width: 800px;
    height: 800px;
    margin: 0 auto;
    position: relative;
}