*{margin: 0; padding: 0; }
.box{
    background-color: gray;
    width: 800px;
    height: 300px;
    margin: 400px auto;
}
.a{background-color: red;}
.b{background-color: green;}
.c{background-color: blue;}
.d{background-color: yellow;}
.e{background-color: purple;}
.ex1{position: relative;}
.ex1>div{
    width: 100px;
    height: 100px;
    position: absolute;
}
.ex1 .a{
    left: 0px;
    top: 0px;
}
.ex1 .b{
    left: 0;
    bottom: 0;
}
.ex1 .d{
    right: 0;
    top: 0;
}
.ex1 .e{
    right: 0;
    bottom: 0;
}

.ex1 .c{
    left: calc(50% - 50px);
    top: calc(50% - 50px);
}

.ex2{position: relative;
overflow: hidden;}
.ex2>div{
    width: 100px;
    height: 100px;
    position: absolute;
}
.ex2 .a{
    left: -100px;
    top: -100px;
}
.ex2 .b{
    left: -100px;
    bottom: -100px;
}
.ex2 .c{
    left: calc(50% - 50px);
    bottom: -100px;
}
.ex2:hover .c{
    left: calc(50% - 50px);
    bottom: calc(50% - 50px);
}
.ex2 .d{
    left: 800px;
    top: -100px;
}
.ex2 .e{
    left: 800px;
    bottom: -100px;
}
.ex2:hover .e{
    right: 0;
    bottom: 0;
}


.ex3{position: relative;}
.ex3>div{
    width: 160px;
    height: 300px;
    position: absolute;
}
.ex3 .a{
    left: 0px;
    top: -300px; /* top: -100% */
}
.ex3 .b{
    left: 160px; /* left: 20% ,bottom: -100% */
    bottom: -300px;
}
.ex3 .c{
    left: 40%;
    top: -100%;
}
.ex3 .d{
    left: 480px; /* left: 60%; bottom: -100%; */
    bottom: -300px;
}
.ex3 .e{
    left: 640px; /* left: 80%; top: -100%; */
    bottom: 300px;
}

.ex4{position: relative;}
.ex4 div{
    position: absolute;
}
.a,.d{
    width: 300px;
    height: 300px;
}
.b,.c,.e{
    width: 100px;
    height: 100px;
}
.d{
    left: 500px;
    bottom: -150px;
}
.a{
    left: 0;
    top: -150px;
}
.e{
    left: calc(50% - 50px);
    top: calc(50% - 50px);
}
.b{
    left: 200px;
    bottom: 0px;
}
.c{
    left: 200px;
    top: 0px;
}

