*{margin: 0; padding: 0; }
.box{
    background-color: gray;
    width: 800px;
    height: 300px;
    margin: 400px auto;
}
.a{background-color: red;}
.b{background-color: green;}
.c{background-color: blue;}
.d{background-color: yellow;}
.e{background-color: purple;}
.ex1{
    position: relative;
}
.ex1>div{
    width: 100px;
    height: 100px;
    position: absolute;
}
.ex1 .a{
    left: -100px;
    top: -100px;
    z-index: 1;
}
.ex1 .b{
    left: -50px;
    top: -50px;
}
.ex1 .c{
    top: 0;
    left: 0;
    z-index: 1;
}
.ex1 .d{
    left: 50px;
    top: 50px;
}
.ex1 .e{
    left: 100px;
    top: 100px;
}

.ex2{
    display: flex;
}
.ex2 >div{
    width: 400px;
    height: 300px;
    flex: 1;
}
.ex2 .a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.ex2 .b{
    position: relative;
}
.ex2 .c {
    position: absolute;
    width: 100px;
    height: 100px;
    right: 0;
    top: 0;
}
.ex2 .d, .ex2 .e {
    position: absolute;
    width: 100px;
    height: 50px;
    bottom: 0;
}
.ex2 .d{left: 0;}
.ex2 .e{right: 0;}

.ex3{
    display: flex
}
.ex3 >div{
    width: 100px;
    height: 100px;
    flex: 1;
}
.ex3{
    position: relative;

}
.ex3 .a{
    left: 0;
    top: 0;
}
.ex3:hover .a{
    left: -100px;
    top: -100px;
}
.ex3 .b{
    left: 0;
    bottom: 0;
}
.ex3:hover .b{
    left: -100px;
    bottom: -100px;
}
.a{
    transition: all 1s ease 0s;
}