.box1{
    width: 500px;
    height: 500px;
    background:gray ;
    position: relative;
    left: 0;
}
.box2{
    width: 100px;
    height: 100px;
    background-color: pink;
    position: absolute;
    z-index: 1;
    left: 100px;
    top: 100px;
}
.box3{
    background-color: orange;
    width: 800px; 
    height: 800px;
    margin: 0 auto;
    position: relative;
}
.a{
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    left: 150px;
    top: 150px;
}
.box4{
    position:fixed ;
    background: green;
    right: 100px;
    top: 100px;
    width: 100px;
    height: 100px;
}