html{
    font-family: 'Pretendard','sans-serif';
    font-size: 20px;
    font-weight: 400;
}
.stp1{
    font-family: "아보";
}
header{}
.common-frame{
    width: 1600px;
    margin: 0 auto;
    border: 2px solid #BE0707;
    height: 100px;
}
header .common-frame{
    display: flex;
    justify-content: space-between;
}
.common-frame .gnb{
     display: flex;
    
}
.gnb li{
    
}
.gnb a{
    border: 2px solid gold;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 1rem;
    line-height: 100%;
    text-transform: uppercase;
}
.banner{
    height:700px;
    background:url(../img/banner.jpg) no-repeat 50% 50% / cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}
.banner h1{
    color: #fff;
    font-size: 7.5rem;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
}