:root{
    --base-pc:20px;
    --base-pad:18px;
    --base-mo:14px;
}

@media (max-width:1920px){
    html{
    font-size: var(--base-pc);
    font-weight: 400;
    font-family: 'Pretendard',sans-serif;
    }
    .banner {
    /* border: 1px solid red; */
    height: 599px;
    background: url(../img/banner_bg.png) no-repeat 50% 81% / cover;
    border-radius: 0 0 150px 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .banner h1{
        text-align: center;
        color:#fff;
        font-size: 2.5rem;
        line-height: 100%;
        text-transform: uppercase;
    }
    .abo{
    font-family: "Aboreto", system-ui;
    font-weight: 400;
    font-style: normal;
    }

    .common-frame{
        border:1px solid red;
        width:auto;
        margin:0 auto;
        padding-bottom: 200px;;
    }

    h2.deco-title{
        border: 1px solid blue;
        font-size: 7.5rem;
        line-height: 90%;
        text-align: center;
        text-transform: uppercase;
        padding-top: 10rem;
        background: url(../img/deco.svg) no-repeat 50% 0%;
        margin-bottom: 2rem;
    }
    .desc1{
        line-height: 140%;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 5rem;
    }
    .desc1 em{
        color:#770000;    
    }
    body {
        background: url(../img/BACKGROUND.png) repeat-x 0% 690px;
    }
    .cafe-gal{
        display: flex;
        gap: 1rem;
        margin-bottom: 2.5rem;
    }
    .cafe-gal figure{
        flex:1;
        aspect-ratio: 790/434;
        line-height: 0;
    }
    .cafe-gal figure img{
        max-width: 100%;
        width:100%;
        height:100%;
        object-fit: cover;
        border-radius: 1rem;
    }

    .common-frame h3{
        font-size: 2rem;
        line-height: 140%;
        margin-bottom: 1rem;
    }
    .common-frame h3 em{
        color:#770000;
    }
    .common-frame h3+p{
        margin-bottom: .5rem;
    }
    .common-frame p strong{
        font-weight: 600;
    }
}

@media (max-width:1024px){
    html{
    font-size: var(--base-pad);
    font-weight: 400;
    font-family: 'Pretendard',sans-serif;
    }
    .common-frame{
    border:1px solid red;
    width:auto;
    margin:0 2rem;
    padding-bottom: 200px;;
    }
    .banner h1{
    font-size: 50px;
    }
    h2.deco-title {
    border: 1px solid blue;
    font-size: 80px;
    line-height: 90%;
    text-align: center;
    text-transform: uppercase;
    padding-top: 180px;
    background: url(../img/deco.svg) no-repeat 50% -22%;
    margin-bottom: 2rem;
    }
    .desc1{
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 90px;
    }
    .cafe-gal figure{
    flex:1;
    aspect-ratio: 365/200;
    line-height: 0;
    height: 200px;
    }
}

@media (max-width:768px){
    html{
    font-size: var(--base-mo);
    font-weight: 400;
    font-family: 'Pretendard',sans-serif;
    }

    .common-frame{
    border:1px solid red;
    width:auto;
    margin:0 1rem;
    padding-bottom: 140px;;
    }

    h2.deco-title {
    font-size: 50px;
    background: url(../img/deco.svg) no-repeat 50% -80%;
    }

    .desc1{
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 70px;
    }
    .cafe-gal{
    flex-direction: column;
    }
    .cafe-gal figure img{
    max-width: 100%;
    width:100%;
    height:initial;
    aspect-ratio: 365/200;;
    object-fit: cover;
    border-radius: 1rem;
    }
    
}


