html{
    font-size: 20px;
    font-weight: 400;
    font-family: "Pretendard",sans-serif;
}
header{
    border: 1px solid red;
    height: 100px;
    position: relative;
    z-index: 9;
}
.inner-header{
    border: 1px solid blue ;
    width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.gnb{
    display: flex;
    align-items: flex-start;
    
}
.gnb>li{
    width: 200px;
    padding: 0.5rem;
    padding-top: 0;
    box-sizing: border-box;
    border: 1px solid red;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    max-height: 100px;
    overflow: hidden;
    transition: all 0.6s ease 0s;
}
.gnb>li:hover{
    max-height: 500px;
}
.gnb>li>a{
    background-color: red;
    display: flex;
    height: 100px;
    align-items: center;
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: .9rem;
    line-height: 100%;
    text-transform: uppercase;
}
.gnb ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: .8rem;
    line-height: 100%;
    text-transform: uppercase;
}
.video-wrap{
    height: 800px;
}
.video-wrap>video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.video-text{
    border: 1px solid red;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 1600px;
    font-weight: 400;
    font-size: 7rem;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #fff;

}
.text p{
        font-weight: 500;
    font-size: 1rem;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}