*{margin: 0;padding: 0;}
ul{
    list-style: none;
}
a{
    color: inherit;
    text-decoration: inherit;
}
header{
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    max-height: 80px;
    overflow: hidden;
    transition: all 0.6s ease 0s;
}
header:hover{
    max-height: 400px;
}
.logo{
    border: 1px solid blue;

}
.gnb{
    border: 1px solid green;
    display: flex;
}
.gnb>li{
    border: 1px solid orange;
}
.gnb>li>a{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
    height: 80px;
}
