.kedu{
    font-family: "케듀",serif;
    font-weight: 700;
}
.kedu2{
    font-family: "케듀테두리";
}


.dakku{
    font-family: 'NostalgicYuriDakku';
}

.mons{
    font-family: "Monsieur La Doulaise", cursive;
}

.b{
    font-family: "Henny Penny", system-ui;
}