html{
    font-family: 'Pretendard','sans-serif';
    font-size: 20px;
    font-weight: 400;
}
.common-frame{
    width: 1600px;
    margin: 0 auto;
    border: 1px solid red;
}
.title{
    border: 1px solid gold;
    padding-top: 8rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 2.5rem;
    line-height: 100%;
    text-transform: uppercase;
}
.stp1{
    font-family: "아보";
}
.title+p{
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
}
.banner{
    border: 1px solid red;
    height:700px;
    background:url(../img/banner.jpg) no-repeat 50% 50% / cover;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 5rem;
}
.banner h2{
    color: #fff;
    line-height: 90%;
    font-size: 7.5rem;
    text-transform: uppercase;
    width: 1600px;
}
.title2{
    font-size: 2rem;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    margin: 1rem;
}
.title2+P{
    line-height: 140%;
    text-align: center;
    margin-bottom: 3.5rem;
}
.gallery{
    display: flex;
    gap:1rem;
}
.gallery>li{
    flex: 1;
}
.gallery figure{
    aspect-ratio: 1/1;
    line-height: 0;
    margin-bottom: 1rem;
}
.gallery figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}
.gallery h4{
    font-weight: 700;
    line-height: 140%;
    text-transform: capitalize;
    margin-bottom: .5rem;
}
.gallery h4+p{
    line-height: 140%;
    display: -webkit-box;
    -webkit-box-orient:vertical;  
    -webkit-line-clamp: 2;
    overflow: hidden;
} 