.a{
    width: 100px;
    height: 100px;
    background-color: blue;
    margin: 200px auto;
    animation-name: myrotate;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
.a:hover{
    animation-play-state: paused;
}
@keyframes myrotate {
    0{transform: translateX(0)rotate(0deg);}
    100%{transform: translateX(300px)rotate(360deg);}
}
.b{
    width: 100px;
    height: 100px;
    margin: 200px auto;
    background-color: gold;
    animation: bounce 3s ease 0s 2 normal;
}
@keyframes bounce {
    0%{transform: scale(1);}
    45.4%{background-color:red;}
    100%{transform:scale(2);}
}