.box{
    border: 1px solid #000;
    width: 300px;
    height: 300px;
    margin: 200px auto;
    transition: all 1s ease 0s;
}
.a{background-color: red;}
.a:hover{transform: translateX(-50%);}

.b{background-color: blue;}
.b:hover{transform: translateY(-50%);}

.c{background-color: green;}
.c:hover{
    transform: 
    translateX(100px)
    translateY(-100px);
}
.parent{
    border: 1px solid #eee;
    height: 700px;
    perspective: 1000px;
    perspective-origin: 100% 50%;
}

.d{background-color: purple;}
.parent:hover .d{transform: translateZ(500px);}

.e{
    background-color: orange;
    transform-origin: 100px 50px;}
.e:hover{transform: rotate(360deg);}

.f{background-color: cyan;}
.f:hover{transform: rotateX(180deg);}

.g{background-color: yellow;}
.g:hover{
    transform: rotateY(180deg);}

.h{background-color: pink;}
.h:hover{transform: scaleX(200%)}

.i{background-color: lightgreen;}
.i:hover{transform: scaleY(2);}

.j{ background-color: lightblue;}
.j:hover{transform: scale(0.7);}

.k{background-color: lightgray;}
.k:hover{transform: skewX(-30deg);}

.l{background-color: brown;}
.l:hover{transform: skewY(30deg);}

.banner{
    height: 600px;
    background-color: pink;
    position: relative;
}
.banner div{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}


