html{
    font-family: 'Pretendard','sans-serif';
    font-size: 20px;
    font-weight: 400;
}
.stp1{
    font-family: "아보";
}
header{
    
    height: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}
.inner-frame{
    width: 1600px;
    margin: 0 auto;
     border-bottom: 2px #BE0707;
    
}
header .inner-frame{
    display: flex;
    justify-content: space-between;
}
header .logo{
    border: 1px solid gold;
}
header .nav{
    border: 1px solid aqua;
}
.lnb{
    display: flex;
    gap: 1rem;
    height: 30px;
    justify-content: flex-end;
    align-items: center;
    text-transform: uppercase;
    line-height: 100%;
    font-size: 0.8rem;
}
.lnb li{
    border: 1px solid blue;
}
.gnb{
    border: 1px solid purple;
    display: flex;
    height: 70px;
    text-transform: uppercase;
    line-height: 100%;
    font-size: 0.9rem;
    font-weight: 600;
    gap: 1rem;
}
.gnb li{
    flex: 1;
    
}
.gnb li a{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.nav{
    width: 966px;
}

.banner{
    background: url(../img/커피잔.jpg) no-repeat 50% 50% / cover;
    margin-bottom: 120px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    color: white;
    font-weight: 400;
    font-size: 7rem;
    line-height: 90%;
    text-transform: uppercase;
    width: 1600px;
   
}
h2{
    font-weight: 400;
    font-size: 3rem;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
p{
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 4rem;
}
.inner-frame{
    margin: 0 auto;
}
.sub-banner {
    height: 441px;
}
.sub-banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}